<div class="col-xs-8" id="users-content">
  <%= render partial: "users/header" %>
  <div class="list-group">
    <% if @user.tweets.empty? %>
      <div class="list-group-item">
        まだツイートはありません
      </div>
    <% end %>
    <%= render partial: "users/tweet", collection: @user.tweets %>
  </div>
</div>
